-#%iframe{:class=>"youtube-player", :type=>"text/html", :width=>"640", :height=>"385", :src=>"http://www.youtube.com/embed/eHvbbJ0Sspc", :frameborder=>"0"}
#video
%br
= link_to 'get tweets', tweets_path, :remote => true, :id => "get_tweets"
#tweets_container
#loading{:style => 'display: none;'}
  loading
#footnote

:javascript
  function MyBlah(blah) {
       alert(blah);
   }






