-#.grid_12
-#  %h1
-#    %p HOW SOON IS NOW
-#.clear

#tweets_container

.grid_12
  #footnote

.grid_12
  #video{:style => 'width:960px; height:600px;'}
.clear

#link
  =link_to 'get tweets', tweets_path, :remote => true, :id => "get_tweets"
#loading{:style => 'display: none;'}
  loading












